<header class="site-header">
	<div class="inner">
		<a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>
		<nav>
			<ul>
				{% for link in site.data.navigation %}
				{% assign current = false %}
				{% if page.url == link.url %}
				{% assign current = true %}
				{% elsif page.url contains link.url and link.url != "/" %}
				{% assign current = true %}
				{% endif %}

				<li>
					<a href="{{ link.url | relative_url }}" class="{% if current %}active{% endif %}">
						{{ link.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>